<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %>></title>
</head>
<body>
  <h1><%= title %></h1>
  <% if (locals.messages) { %>
    <ul>
      <% messages.forEach((message) => { %>
        <li>
          <%= message.title %>
          <%= message.content %>
          <%= message.timestamp %>
          <%= message.firstname %>
          <%= message.lastname %>
          <%= message.email %>
          <%= message.membership %>
          <%= message.admin %>
        </li>
      <% }) %>
    </ul>
  <% } %>
</body>
</html>