<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
  <main>
    <header>
      <h1><%= title %></h1>
      <a href="/signup" class="link_btn">Sign Up</a>
    </header>

    <% if (locals.messages) { %>
      <% messages.forEach((message) => { %>
        <div class="message_card">
          <header>
            <h2><%= message.title %></h2>
            <p><%= new Date(message.timestamp).toLocaleDateString(undefined, { day: 'numeric', month: 'long', year: 'numeric' }) %></p>
          </header>
          <div class="content">
            <%= message.content %>
          </div>
        </div>
      <% }) %>
    <% } %>
    <a href="/message" class="link_btn">Leave a message</a>
  </main>
</body>
</html>