<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %>></title>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
  <main>
    <header>
      <h1><%= title %></h1>
    </header>
    <form action="" method="post">
      <div class="form_row">
        <label for="firstname">First name</label>
        <input type="text" name="firstname" value="<%= undefined === locals.info ? '' : info.firstname %>" required>
      </div>
      <div class="form_row">
        <label for="lastname">Last name</label>
        <input type="text" name="lastname" value="<%= undefined === locals.info ? '' : info.lastname %>" required>
      </div>
      <div class="form_row">
        <label for="email">Email</label>
        <input type="email" name="email" value="<%= undefined === locals.info ? '' : info.email %>" required>
      </div>
      <div class="form_row">
        <label for="password">Password</label>
        <input type="password" name="password" required>
      </div>
      <div class="form_row">
        <label for="password_confirm">Confirm your password</label>
        <input type="password" name="password_confirm" required>
      </div>
      <button type="submit">Submit</button>
    </form>

    <br>
    <%- include('./partials/errors.ejs') %>
  </main>
</body>
</html>